In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('Logistic_Prediction.csv')

In [4]:
df.head()

   Unnamed: 0   Loan_ID Loan_Status
0           0  LP001015           Y
1           1  LP001022           Y
2           2  LP001031           Y
3           3  LP001035           Y
4           4  LP001051           Y