In [37]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_squared_error
import warnings
warnings.simplefilter('ignore')

In [2]:
df = pd.read_csv('Life Expectancy Data.csv')

In [3]:
df.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

In [6]:
df.columns

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [7]:
df.describe()

,Year,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
count,2938.000000,2928.000000,2928.000000,2938.000000,2744.000000,2938.000000,2385.000000,2938.000000,2904.000000,2938.000000,2919.000000,2712.00000,2919.000000,2938.000000,2490.000000,2.286000e+03,2904.000000,2904.000000,2771.000000,2775.000000
mean,2007.518720,69.224932,164.796448,30.303948,4.602861,738.251295,80.940461,2419.592240,38.321247,42.035739,82.550188,5.93819,82.324084,1.742103,7483.158469,1.275338e+07,4.839704,4.870317,0.627551,11.992793
std,4.613841,9.523867,124.292079,117.926501,4.052413,1987.914858,25.070016,11467.272489,20.044034,160.445548,23.428046,2.49832,23.716912,5.077785,14270.169342,6.101210e+07,4.420195,4.508882,0.210904,3.358920
min,2000.000000,36.300000,1.000000,0.000000,0.010000,0.000000,1.000000,0.000000,1.000000,0.000000,3.000000,0.37000,2.000000,0.100000,1.681350,3.400000e+01,0.100000,0.100000,0.000000,0.000000
25%,2004.000000,63.100000,74.000000,0.000000,0.877500,4.685343,77.000000,0.000000,19.300000,0.000000,78.000000,4.26000,78.000000,0.100000,463.935626,1.957932e+05,1.600000,1.500000,0.493000,10.100000
50%,2008.000000,72.100000,144.000000,3.000000,3.755000,64.912906,92.000000,17.000000,43.500000,4.000000,93.000000,5.75500,93.000000,0.100000,1766.947595,1.386542e+06,3.300000,3.300000,0.677000,12.300000
75%,2012.000000,75.700000,228.000000,22.000000,7.702500,441.534144,97.000000,360.250000,56.200000,28.000000,97.000000,7.49250,97.000000,0.800000,5910.806335,7.420359e+06,7.200000,7.200000,0.779000,14.300000
max,2015.000000,89.000000,723.000000,1800.000000,17.870000,19479.911610,99.000000,212183.000000,87.300000,2500.000000,99.000000,17.60000,99.000000,50.600000,119172.741800,1.293859e+09,27.700000,28.600000,0.948000,20.700000

In [8]:

df.isnull().sum()

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

In [10]:
df['Life expectancy '] = df['Life expectancy '].fillna(df['Life expectancy '].median())

In [11]:
df['Adult Mortality'] = df['Adult Mortality'].fillna(df['Adult Mortality'].median())

In [12]:
df['Alcohol'] = df['Alcohol'].fillna(df['Alcohol'].median())

In [13]:
df['Hepatitis B'] = df['Hepatitis B'].fillna(df['Hepatitis B'].median())

In [14]:
df['Total expenditure'] = df['Total expenditure'].fillna(df['Total expenditure'].median())

In [16]:
df['Diphtheria '] = df['Diphtheria '].fillna(df['Diphtheria '].median())

In [17]:
df['GDP'] = df['GDP'].fillna(df['GDP'].median())

In [18]:
df['Population'] = df['Population'].fillna(df['Population'].median())

In [19]:
df[' thinness  1-19 years'] = df[' thinness  1-19 years'].fillna(df[' thinness  1-19 years'].median())

In [20]:
df[' thinness 5-9 years'] = df[' thinness 5-9 years'].fillna(df[' thinness 5-9 years'].median())

In [22]:
df['Income composition of resources'] = df['Income composition of resources'].fillna(df['Income composition of resources'].median())

In [23]:
df['Schooling'] = df['Schooling'].fillna(df['Schooling'].median())

In [25]:
df[' BMI '] = df[' BMI '].fillna(df[' BMI '].median())

In [26]:
df['Polio'] = df['Polio'].fillna(df['Polio'].median())

In [27]:
df.isnull().sum()

Country                            0
Year                               0
Status                             0
Life expectancy                    0
Adult Mortality                    0
infant deaths                      0
Alcohol                            0
percentage expenditure             0
Hepatitis B                        0
Measles                            0
 BMI                               0
under-five deaths                  0
Polio                              0
Total expenditure                  0
Diphtheria                         0
 HIV/AIDS                          0
GDP                                0
Population                         0
 thinness  1-19 years              0
 thinness 5-9 years                0
Income composition of resources    0
Schooling                          0
dtype: int64

In [28]:

corr_matrix = abs(df.corr())
print(corr_matrix["Life expectancy "].sort_values(ascending=False))

Life expectancy                    1.000000
Schooling                          0.713054
Adult Mortality                    0.696390
Income composition of resources    0.688662
 BMI                               0.556901
 HIV/AIDS                          0.556703
Diphtheria                         0.472211
 thinness  1-19 years              0.468002
 thinness 5-9 years                0.462473
Polio                              0.458399
GDP                                0.430461
Alcohol                            0.388918
percentage expenditure             0.381418
under-five deaths                  0.222738
Total expenditure                  0.208844
infant deaths                      0.196769
Year                               0.170819
Hepatitis B                        0.170219
Measles                            0.157767
Population                         0.029014
Name: Life expectancy , dtype: float64

In [29]:
X = df.drop(['Life expectancy ','Population','GDP','percentage expenditure','Total expenditure',' thinness 5-9 years'],axis=1)
y = df['Life expectancy ']

In [30]:

X

,Country,Year,Status,Adult Mortality,infant deaths,Alcohol,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,thinness 1-19 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,263.0,62,0.01,65.0,1154,19.1,83,6.0,65.0,0.1,17.2,0.479,10.1
1,Afghanistan,2014,Developing,271.0,64,0.01,62.0,492,18.6,86,58.0,62.0,0.1,17.5,0.476,10.0
2,Afghanistan,2013,Developing,268.0,66,0.01,64.0,430,18.1,89,62.0,64.0,0.1,17.7,0.470,9.9
3,Afghanistan,2012,Developing,272.0,69,0.01,67.0,2787,17.6,93,67.0,67.0,0.1,17.9,0.463,9.8
4,Afghanistan,2011,Developing,275.0,71,0.01,68.0,3013,17.2,97,68.0,68.0,0.1,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,723.0,27,4.36,68.0,31,27.1,42,67.0,65.0,33.6,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,715.0,26,4.06,7.0,998,26.7,41,7.0,68.0,36.7,9.8,0.418,9.5
2935,Zimbabwe,2002,Developing,73.0,25,4.43,73.0,304,26.3,40,73.0,71.0,39.8,1.2,0.427,10.0
2936,Zimbabwe,2001,Developing,686.0,25,1.72,76.0,529,25.9,39,76.0,75.0,42.1,1.6,0.427,9.8
2937,Zimbabwe,2000,Developing,665.0,24,1.68,79.0,1483,25.5,39,78.0,78.0,43.5,11.0,0.434,9.8

In [33]:

X = X.drop(['Country','Year','Status'],axis=1)

In [34]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=45)

In [35]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(n_estimators=500)
rfr.fit(X_train,y_train)

RandomForestRegressor(n_estimators=500)

In [38]:
y_pred = rfr.predict(X_test)
mean_squared_error(y_test, y_pred)

3.64806448512472

In [39]:
pred_test = rfr.predict([[263.0,
                          62,
                          0.01,
                          65.0,
                          1154,
                          19.1,
                          83,
                          6.0,
                          65.0,
                          0.1,
                          17.3,
                          0.479,
                          10.1 ]])

In [40]:
pred_test[0].round(2)

62.92

In [41]:

# Creating a pickle file for the classifier use randomforest classifier
import pickle
filename = 'life_expectancy.pkl'
pickle.dump(rfr, open(filename, 'wb'))

In [42]:
filename = 'life_expectancy.pkl'
rfr = pickle.load(open(filename, 'rb'))

In [43]:
pred_test = rfr.predict([[263.0,
                          62,
                          0.01,
                          65.0,
                          1154,
                          19.1,
                          83,
                          6.0,
                          65,
                          0.1,
                          17.3,
                          0.479,
                          10.1 ]])

In [44]:
pred_test

array([62.9168])

In [45]:
X

,Adult Mortality,infant deaths,Alcohol,Hepatitis B,Measles,BMI,under-five deaths,Polio,Diphtheria,HIV/AIDS,thinness 1-19 years,Income composition of resources,Schooling
0,263.0,62,0.01,65.0,1154,19.1,83,6.0,65.0,0.1,17.2,0.479,10.1
1,271.0,64,0.01,62.0,492,18.6,86,58.0,62.0,0.1,17.5,0.476,10.0
2,268.0,66,0.01,64.0,430,18.1,89,62.0,64.0,0.1,17.7,0.470,9.9
3,272.0,69,0.01,67.0,2787,17.6,93,67.0,67.0,0.1,17.9,0.463,9.8
4,275.0,71,0.01,68.0,3013,17.2,97,68.0,68.0,0.1,18.2,0.454,9.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,723.0,27,4.36,68.0,31,27.1,42,67.0,65.0,33.6,9.4,0.407,9.2
2934,715.0,26,4.06,7.0,998,26.7,41,7.0,68.0,36.7,9.8,0.418,9.5
2935,73.0,25,4.43,73.0,304,26.3,40,73.0,71.0,39.8,1.2,0.427,10.0
2936,686.0,25,1.72,76.0,529,25.9,39,76.0,75.0,42.1,1.6,0.427,9.8
2937,665.0,24,1.68,79.0,1483,25.5,39,78.0,78.0,43.5,11.0,0.434,9.8